.procho {
    height: auto;
}
.search_part{
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 12px;
}
.search_part > ol, .search_part  > ul {
    width:inherit;
    list-style: none;
    margin: 0;
    padding: 0;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.search_part > ol > li{
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.search_part > ol > li:nth-of-type(1){
width: 11%;
}
.search_part > ol > li:nth-of-type(2){
width: 34%;
}
.search_part > ol > li:nth-of-type(3){
  width: 10%;
}
.search_part > ol > li:nth-of-type(4){
  width: 45%;
}
.search_select {
    width: 80px;
    height: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-indent: 5px;
    font-size: 12px;
}

.search_input {
    width: 180px;
    height: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-indent: 5px;
}
.datebtn, .datebtn2 {
    width: 50px;
    height: 25px;
    background-color: rgb(192, 57, 43);
    border: 0;
    color: white;
    box-sizing: border-box;
    margin-left: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
}
.datebtn2 { 
    width: 70px;
}

/* 사전 예약 관련 사항 */
.reserve_listsview{
    min-height: 750px;
    height: auto;
}
.reserve_listsview > ol {
    display: inline-block;
    width:inherit;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;  
    font-family:Arial, Helvetica, sans-serif;
}
.reserve_listsview > ol > li {
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: left;
    text-indent: 10px;
    border-bottom: 1px solid #ccc;
}
.reserve_listsview > ol > li:nth-of-type(odd){
    width:15%;
}

.reserve_listsview > ol > li:nth-of-type(even){
    width:85%;
}

.reserve_listsview > ul {
    width:inherit;
    list-style: none;
    margin: 0;
    padding: 0;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    height: 40px;
    font-size: 11px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
}
.reserve_listsview > ul:hover {
    background-color: #eee;
    cursor: pointer;
}
.reserve_listsview > ul:nth-of-type(1) {
    background-color: #ccc;
}

.reserve_listsview > ul > li {
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.reserve_listsview > ul > li:nth-of-type(1){
    width: 5%;
}
.reserve_listsview > ul > li:nth-of-type(2){
    width: 15%;
}
.reserve_listsview > ul > li:nth-of-type(3){
    width: 15%;
}
.reserve_listsview > ul > li:nth-of-type(4){
    width: 15%;
}
.reserve_listsview > ul > li:nth-of-type(5){
    width: 15%;
}
.reserve_listsview > ul > li:nth-of-type(6){
    width: 15%;
}
.reserve_listsview > ul > li:nth-of-type(7){
    width: 15%;
}
.reserve_listsview > ul > li:nth-of-type(8){
    width: 5%;
}

/* 회원정보 리스트 출력 부분 */
/* 데이터 리스트 출력 부분 */
.member_listsview{
    min-height: 750px;
    height: auto;
}
.member_listsview > ol {
    display: inline-block;
    width:inherit;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;  
    font-family:Arial, Helvetica, sans-serif;
}
.member_listsview > ol > li {
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: left;
    text-indent: 10px;
    border-bottom: 1px solid #ccc;
}
.member_listsview > ol > li:nth-of-type(odd){
    width:15%;
}

.member_listsview > ol > li:nth-of-type(even){
    width:85%;
}

.member_listsview > ul {
    width:inherit;
    list-style: none;
    margin: 0;
    padding: 0;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    height: 40px;
    font-size: 11px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
}
.member_listsview > ul:hover {
    background-color: #eee;
    cursor: pointer;
}
.member_listsview > ul:nth-of-type(1) {
    background-color: #ccc;
}

.member_listsview > ul > li {
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.member_listsview > ul > li:nth-of-type(1){
    width: 5%;
}
.member_listsview > ul > li:nth-of-type(2){
    width: 10%;
}
.member_listsview > ul > li:nth-of-type(3){
    width: 10%;
}
.member_listsview > ul > li:nth-of-type(4){
    width: 10%;
}
.member_listsview > ul > li:nth-of-type(5){
    width: 15%;
}
.member_listsview > ul > li:nth-of-type(6){
    width: 35%;
}
.member_listsview > ul > li:nth-of-type(7){
    width: 5%;
}
.member_listsview > ul > li:nth-of-type(8){
    width: 5%;
}
.member_listsview > ul > li:nth-of-type(9){
    width: 5%;
}
.member_listsview > ul > li:nth-of-type(10){
    width: 5%;
}
.member_listsview > ul > li:nth-of-type(11){
    width: 5%;
}

/* 데이터 리스트 출력 부분 */
.data_listsview{
    min-height: 750px;
    height: auto;
}
.data_listsview > ol {
    display: inline-block;
    width:inherit;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;  
    font-family:Arial, Helvetica, sans-serif;
}
.data_listsview > ol > li {
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: left;
    text-indent: 10px;
    border-bottom: 1px solid #ccc;
}
.data_listsview > ol > li:nth-of-type(odd){
    width:15%;
}

.data_listsview > ol > li:nth-of-type(even){
    width:85%;
}

.notice_in{
    height: 30px;
    border:1px solid #ccc;
    border-radius: 5px;
    text-indent: 5px;
}
.in1 {
    width:800px;
}
.in2 {
    width:150px;
}
.in3 {
    width:980px;
    height: 500px;
    resize: none;
    text-indent: 0px !important;
}


.text_in{
    padding-left: 10px;
    box-sizing: border-box;
}
.text_in2{
    width:980px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    text-indent: 0px !important;
    padding-left: 10px;
    box-sizing: border-box;
}

.data_listsview > ul {
    width:inherit;
    list-style: none;
    margin: 0;
    padding: 0;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    height: 40px;
    font-size: 11px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
}
.data_listsview > ul:hover {
    background-color: #eee;
    cursor: pointer;
}
.data_listsview > ul:nth-of-type(1) {
    background-color: #ccc;
}

.data_listsview > ul > li {
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.data_listsview > ul > li:nth-of-type(1){
    width: 5%;
}
.data_listsview > ul > li:nth-of-type(2){
    width: 55%;
}
.data_listsview > ul > li:nth-of-type(3){
    width: 10%;
}
.data_listsview > ul > li:nth-of-type(4){
    width: 5%;
}
.data_listsview > ul > li:nth-of-type(5){
    width: 10%;
}
.data_listsview > ul > li:nth-of-type(6){
    width: 10%;
}
.data_listsview > ul > li:nth-of-type(7){
    width: 5%;
}
/* faq 파트 */
.data_listsview2{
    height: auto;
    overflow: none;
}
.data_listsview2 > ul, .data_listsview2 > span > ul {
    width:inherit;
    list-style: none;
    margin: 0;
    padding: 0;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    height: 40px;
    font-size: 11px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
}
.data_listsview2 > ul:hover , .data_listsview2 > span > ul:hover {
    background-color: #eee;
    cursor: pointer;
}
.data_listsview2 > ul:nth-of-type(1) {
    background-color: #ccc;
}
.data_listsview2 > ul > li {
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.data_listsview2 > ul > li:nth-of-type(1){
    width: 5%;
}
.data_listsview2 > ul > li:nth-of-type(2){
    width: 65%;
}
.data_listsview2 > ul > li:nth-of-type(3){
    width: 10%;
}
.data_listsview2 > ul > li:nth-of-type(4){
    width: 10%;
}
.data_listsview2 > ul > li:nth-of-type(5){
    width: 10%;
}

.data_listsview2 > span > ul > li:nth-of-type(1){
    width: 5%;
}
.data_listsview2 > span > ul > li:nth-of-type(2){
    width: 65%;
}
.data_listsview2 > span > ul > li:nth-of-type(3){
    width: 10%;
}
.data_listsview2 > span > ul > li:nth-of-type(4){
    width: 10%;
}
.data_listsview2 > span > ul > li:nth-of-type(5){
    width: 10%;
}
.data_listsview2 > span > ol {
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
    height: auto;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.data_listsview2 > span > ol > li{
    padding: 10px 0 10px 0 ;
    box-sizing: border-box;
    height: auto;
}
.data_listsview2 > span > ol > li:nth-of-type(1){
    width: 5%;
}
.data_listsview2 > span > ol > li:nth-of-type(2){
    width: 95%;
}

.nodatas {
    width: 100%;
    display: block;
    text-align: center;
}
.nodatas > li:nth-of-type(1) {
    width:inherit !important;
    text-align: center;
}

em { 
    font-style: normal;
    color: blue;
}
/* 버튼 부분 */
.shipping_btn {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: right;
}
.okbtn { 
    width: 130px;
    height: 40px;
    font-size: 12px;
    border: 0;
    cursor: pointer;
}

.okbtn2 { 
    width: 100px;
    height: 25px;
    font-size: 12px;
    border: 0;
    cursor: pointer;
    vertical-align: 2px;
    margin-left: 5px;
}

.bcolor1 {
    background-color: rgb(192, 57, 43);
    color: white;
}
.bcolor2 {
    background-color: black;
    color: white;
}
.bcolor3 {
    background-color: rgb(64, 64, 144);
    color: white;
}
.select_bar3 { 
    font-size:11px; 
    width:160px;
    height: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-indent: 5px;
}

.data_listsview > .nodatas {
    width: 100%;
    display: block;
    text-align: center;
}
.data_listsview > .nodatas > li:nth-of-type(1) {
    width:inherit !important;
    text-align: center;
}

/* 삭제버튼 */
.delbtn { 
    width: 55px;
    height: 25px;
    background-color: black;
    color: white;
    border: 0;
    font-size: 12px;
    margin-top: 2px;
    cursor: pointer;
}

.oksignbtn { 
    display: block;
    width: 55px;
    height: 25px;
    line-height: 25px;
    background-color: rgb(31, 18, 133);
    color: white;
    border: 0;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 2px;
    cursor: pointer;
}


.modifybtn{
    width: 60px;
    height: 25px;
    background-color: rgb(64, 64, 144);
    color: white;
    border: 0;
    font-size: 11px;
    margin-top: 2px;
    cursor: pointer;
}

/* 메모장 출력현황 */
.memo_input { 
    position: absolute;
    width: 100%;
    height: 900px;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.div_meno {
    width: 500px;
    height: 300px;
    background-color: #fff;
    margin: 0 auto;
    top:150px;
    position: relative;
    border: 1px solid black;

}
.div_meno > p {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 3px double #ccc;
    margin: 0;
    font-size: 13px;
    text-indent: 10px;
}
.div_meno > span{
    display: block;
    width: 100%;
    height: 260px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.notice_btns {
    margin-top: 10px;
    display: block;
    text-align: right;
}

.memo_txt {
    width: 100%;
    height: 150px;
    resize: none;
    outline: none;
    font-size: 12px;
    margin-bottom: 30px;
}
.meno_btn1 {
    width: 100px;
    height: 30px;
    background: black;
    border: 0;
    font-size: 13px;
    color: white;
    cursor: pointer;
}
.meno_btn2 {
    width: 100px;
    height: 30px;
    background: rgb(192, 57, 43);
    border: 0;
    font-size: 13px;
    color: white;
    cursor: pointer;
}

/* 페이지 번호 */

.page_number {
    width: 1200px;
    height:40px;
}

.page_number > ul {
    width: 100%;
    height:inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.page_number > ul > li{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: gainsboro;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

